{% extends 'base_note.html' %}


{% block rum_content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}

  <div class='alert-box radius success'>
    <ul class="no-bullet">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}


    <div class="panel">
      <h3>Note</h3>
    <P > This is the default Note page. Welcome {{ user }} </P>
    <form method="post">
    <fieldset>
          <legend>Add a Note</legend>
      {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
     TITLE: <input type="text" name="title" value="{{ note.title }}">
     NOTE: <textarea name="message">{{ note.message }}</textarea>
    <button type="submit">SUBMIT</button>
    </fieldset>
    </form>

    </div>
{% endblock %}
