{% extends 'base_note.html' %}


{% block note_content %}
    <div class="panel">
      <h3>Note</h3>
    <P > Welcome {{ user }}! Your notes are ..  </P>

  <table>
   <thead>
    <tr>
      <th width="200">Title</th>
      <th width="150">User</th>
      <th>Note</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for note in notes %}
    <tr>
      <td>{{ note.title }}</td>
      <td>{{ user }}</td>
      <td>{{ note.message }}</td>
      <td> <a href="{{ url_for('note_view', noteid=note.id) }}">View</a>&nbsp;| <a href="{{ url_for('note_edit', noteid=note.id) }}">Edit</a></td>
    </tr>
  {% endfor %}
  </table>
 </tr>
  </tbody>
</table>

    </div>
{% endblock %}
