{% extends config.THEME_FOLDER+'onecol.html' %}

{% block rum_nav %}
   {% include config.TEMPLATE_DEFAULTS['nav'] %}
{% endblock %}

{% block rum_content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class='alert-box radius success'>
    <ul class="no-bullet">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

{% block note_view %}
    <div class="panel">
        <h3>Note</h3>
        <P > Welcome {{ user }}! </P>

        <section id="note_view">
            <p>{{ note.title }}</p>
            <div id="note_message">
                <P>{{ note.message }}</P>
            </div>
        </section>
    </div>
{% endblock note_view %}

{% endblock rum_content %}

{% block rum_footer %}
   {% include config.TEMPLATE_DEFAULTS['footer'] %}
{% endblock %}